:root {
  --primari-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --accent-color: #2196F3;
  --text-color: #757575;
  --title-color: #212121;
  --secondary-color: #FFFFFF;
  --secondary-background-color: #2F303A;
  --primari-background-color: #F5F4F5;
  --social-color-icon: #AFB1B8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: var(--primari-font-family);
  color: var(--title-color);
  border-color: var(--primari-background-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero__modal-btn {
  min-width: 152px;
  padding: 10px 32px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__modal-btn:hover, .hero__modal-btn:focus {
  background-color: #188CE8;
}

.logo {
  margin-right: 95px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-black {
  color: var(--title-color);
}
.logo--white {
  color: var(--secondary-color);
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0px;
}

.section-title {
  margin-bottom: 50px;
  font-family: var(--primari-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--social-color-icon);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--secondary-color);
}

.mail-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mail-contact__input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--secondary-color);
}
.mail-contact__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mail-contact__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mail-contact__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mail-contact__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mail-contact__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mail-contact__btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
}
.mail-contact__icon {
  margin-left: 10px;
}

.header {
  background-color: var(--secondary-color);
  border-bottom: 1px solid #ECECEC;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-list__item:not(:last-child) {
  margin-right: 50px;
}
.nav-list__item {
  position: relative;
}
.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.contacts__item:not(:last-child) {
  margin-right: 30px;
}
.contacts__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: var(--text-color);
  color: var(--text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__mail:hover, .contacts__mail:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contacts__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: var(--text-color);
  color: var(--text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__number:hover, .contacts__number:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contacts__icon {
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../imges/hero.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imges/hero.jpg");
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  background-color: var(--secondary-background-color);
  text-align: center;
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.attribute-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--primari-background-color);
}

.attribute-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.attribute-list__item {
  -ms-flex-preferred-size: calc((100% - 120px) / 4);
      flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}
.attribute-list__title {
  margin-bottom: 10px;
  font-family: var(--primari-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.attribute-list__text {
  font-family: var(--primari-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.work {
  padding-top: 0px;
}
.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.work-list__item {
  margin-left: 30px;
  margin-top: 30px;
}
.work-list__img {
  position: relative;
}
.work-specialty {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.work-specialty__text {
  font-family: var(--primari-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.collectivity {
  background-color: #F5F4FA;
}
.collectivity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.collectivity-list__item {
  margin-left: 30px;
  margin-top: 30px;
  background-color: var(--secondary-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.collectivity-list__title {
  margin-bottom: 10px;
  font-family: var(--primari-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.collectivity-list__text {
  font-family: var(--primari-font-family);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--text-color);
}
.collectivity-list__data {
  padding: 30px 32px 30px 32px;
  text-align: center;
  letter-spacing: 0.03em;
}

.compani-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.compani-list__item {
  margin-left: 30px;
  margin-top: 30px;
}
.compani-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  fill: var(--social-color-icon);
  border: 1px solid var(--social-color-icon);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.compani-list__link:hover, .compani-list__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
.compani-list__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}
.footer--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
  color: var(--secondary-color);
}
.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -10px;
  margin-top: -10px;
}
.footer-social-list__item {
  margin-left: 10px;
  margin-top: 10px;
}

.footer-social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454E;
  fill: var(--secondary-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list__link:hover, .footer-social-list__link:focus {
  background-color: var(--accent-color);
}

.address-list__link {
  font-family: var(--primari-font-family);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.address-list__link--color {
  color: rgba(255, 255, 255, 0.6);
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 580px;
  background-color: var(--secondary-color);
}
.modal-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #E5E5E5;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus, .modal-close-btn:hover {
  outline: none;
  fill: var(--accent-color);
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}

.modal-form__failed {
  display: block;
  margin-bottom: 10px;
}

.modal-form__input {
  display: block;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-form__input-wraper {
  position: relative;
  display: block;
}

.modal-form__icon {
  position: absolute;
  top: 12px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__failed-textarea {
  display: block;
  margin-bottom: 20px;
}

.modal-form__textarea {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__failed-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--primari-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.modal-form__failed-checkbox::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 6px;
}
.modal-form__checkbox:checked + .modal-form__failed-checkbox::before {
  background-color: #2196F3;
  background-image: url(../imges/Vector.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: border-box;
  border-color: #2196F3;
}
.modal-form__checkbox:focus + .modal-form__failed-checkbox::before {
  outline: 2px solid #212121;
  border: #212121;
}

.modal-form__failed-link {
  color: var(--accent-color);
}

.modal-form__checkbox-wraper {
  margin-bottom: 30px;
}

.modal-form__link--color {
  color: var(--accent-color);
}

.modal-form__submit-btn {
  display: block;
  margin: 0 auto;
  min-width: 152px;
  padding: 10px 32px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border-radius: 4px;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  background-color: var(--accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__submit-btn:hover, .modal-form__submit-btn:focus {
  background-color: #188CE8;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-list__item {
  margin-left: 30px;
  margin-top: 30px;
}
.portfolio-list__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.portfolio-list__overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-list__overlay-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding-left: 24px;
  padding-right: 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover .portfolio-list__overlay-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio-list__titel {
  margin-bottom: 4px;
  font-family: var(--primari-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.portfolio-list__text {
  font-family: var(--primari-font-family);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.portfolio-list__data {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0px;
}

.portfolio-text {
  font-family: var(--primari-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.projects-list__tem:not(:last-child) {
  margin-right: 8px;
}

.projects-list__button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  font-family: var(--primari-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-color);
  background-color: #F5F4FA;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list__button:hover, .projects-list__button:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.new-pading {
  padding-left: 25px;
  padding-right: 25px;
}/*# sourceMappingURL=main.css.map */