.logo {
    margin-right: 95px;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;

    color: var(--accent-color);

    &-black {
        color: var(--title-color);
    }
   
    &--white {
            color: var(--secondary-color);
        }
    
    &-footer {
            display: inline-block;
            margin-bottom: 20px;
            margin-right: 0px;
        }

} 




